/* /////////////////////////////////////// */
/* INITIAL STYLES */
/* /////////////////////////////////////// */
html {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



/* /////////////////////////////////////// */
/* PAGE HEADER */
/* /////////////////////////////////////// */

.page-header {

}

.page-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.page-navigation__user-photo {
  width: 38px;
  border: 1px solid #939393;
  border-radius: 50%;
  padding: 3px;
}

.page-navigation__user-photo:hover { 
  cursor: pointer;
}

.nav {
  display: flex;
}

.page-navigation > *, .nav > * {
  margin-left: 18px;
}

.nav__item {
  list-style-type: none;
  margin-top: -3px;
}

.nav__link {
  font-size: 0.8125rem;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.nav__link:hover {
  border-bottom: 1px solid gray;
  color: rgba(0,0,0,0.7);
}

.page-navigation__apps {
  width: 16px;
  height: 16px;
  border: none;
  background-image: url(../img/google-sprites.png);
  background-position: -139px -45px;
  outline: none;
}

.page-navigation__apps:hover {
  opacity: 0.7;
  cursor: pointer;
}